body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.div-b {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 20%;
}

.body-1 {
  height: 30%;
  display: flex;
  flex-direction: row;
}

.footer {
  height: 20%;
}
/* Extra peque*/
@media only screen and (max-width:600px){
  .header {
    background-color: rgb(22, 124, 241);
  }
  .box-1 {
    background-color: yellow;
    width: 20%;
  }
  .box-g1 {
    display: none;
  }
  .box-2 {
    background-color: rgb(121, 250, 102);
    width: 80%;
  }
  .box-3 {
    background-color: rgb(17, 103, 4);
    width: 80%;
  }
  .box-g2 {
    display: none;
  }
  .box-4 {
    background-color: rgb(128, 0, 197);
    width: 20%;
  }
  .f-1 {
    background-color: rgb(243, 190, 168);
    width: 100%;
  }
  .f-2 {
    visibility: hidden;
  }
}
 /* peque*/
 @media all and (min-width:600px){
  .header {
    background-color: violet;
  }
  .box-1 {
    background-color: yellow;
    width: 20%;
  }
  .box-g1 {
    display: none;
  }
  .box-2 {
    background-color: rgb(102, 171, 250);
    width: 80%;
  }

  .box-3 {
    background-color: rgb(238, 122, 7);
    width: 20%;
  }

  .box-g2 {
    display: none;
  }
  .box-4 {
    background-color: rgb(128, 0, 197);
    width: 80%;
  }
  .f-1 {
    background-color: rgb(139, 241, 88);
    width: 100%;
  }

  .f-2 {
    visibility: hidden;
  }
}
/* Mediano */
@media only screen and (min-width: 768px){
    .header {
        background-color: violet;
      }
      .box-1 {
        background-color: rgb(98, 255, 0);
        width: 80%;
      }
      .box-g1 {
        display: none;
      }
    
      .box-2 {
        background-color: rgb(107, 110, 114);
        width: 20%;
      }
    
      .box-3 {
        background-color: rgb(238, 122, 7);
        width: 80%;
      }
    
      .box-g2 {
        display: none;
      }
    
      .box-4 {
        background-color: rgb(5, 165, 168);
        width: 20%;
      }
    
      .f-1 {
        background-color: rgb(172, 88, 241);
        width: 100%;
      }
    
      .f-2 {
        visibility: hidden;
      }
}
/* Grandes */
@media all and (min-width:992px){
    .header {
        background-color: violet;
      }
      .box-1 {
        background-color: yellow;
        width: 20%;
      }
      .box-g1 {
        display: none;
      }
      .box-2 {
        background-color: rgb(102, 171, 250);
        width: 80%;
      }
      .box-3 {
        background-color: rgb(238, 122, 7);
        width: 80%;
      }
      .box-g2 {
        display: none;
      }
      .box-4 {
        background-color: rgb(128, 0, 197);
        width: 20%;
      }
      .f-1 {
        background-color: rgb(139, 241, 88);
        width: 100%;
      }
      .f-2 {
        visibility: hidden;
      } 
}

/* Extra grandes */
@media only screen and (min-width:1200px){
    .header {
        background-color: rgb(137, 29, 239);
      }
      .box-1 {
        background-color: yellow;
        width: 50%;
      }
      .box-g1 {
        background-color: rgb(255, 196, 0);
        width: 25%;
      }
      .box-2 {
        background-color: yellow;
        width: 25%;
      }
      .box-3 {
        background-color: rgb(40, 171, 242);
        width: 25%;
      }
      .box-g2 {
        background-color: rgb(255, 13, 0);
        width: 25%;
      }
      .box-4 {
        background-color: rgb(40, 171, 242);
        width: 50%;
      }
      .f-1 {
        background-color: rgb(133, 251, 91);
        width: 50%;
      }
      .f-2 {
        background-color: rgb(86, 57, 7);
        width: 50%;
      }
}

